{% extends 'frontend/layout.html' %}

{% load static %}
{% block title %}Passwords{% endblock title %}
{% block body %}

        <div style="display: flex" class="w-75 mx-auto">
          <!--Add password form-->
          <form id="add-password-form" class="mb-2 mx-auto w-75" method="post" action="http://127.0.0.1:8000/api/passwords">
              <input class="form-control mb-2" autofocus style="width: 18rem;" type="text" id="email" name="email" placeholder="Email">
              <input class="form-control mb-2" style="width: 18rem;" type="text" id="username" name="username" placeholder="Username">
              <input class="form-control mb-2" style="width: 18rem;" type="password" id="password" name="password" placeholder="Password">
              <input class="form-control mb-2" style="width: 18rem;" type="text" id="url" name="url" placeholder="URL">
              <input class="form-control mb-2" style="width: 18rem;" type="text" id="tags" name="tags" placeholder="Tags">
              <button class="btn btn-primary"  style="width: 18rem;" id="add-button">Add</button>
          </form>
          <!--Random Password Generator-->
          <div class="card mx-auto text-center mx-auto w-75">
            <h5 class="card-header">Random Password Generator</h5>
            <div class="card-body">
                <input type="number" id="length" class="form-control mb-2" placeholder="Length">
                <button class="btn btn-primary mb-2" id="generate-password">Generate</button>
                <button class="btn btn-primary mb-2" id="copy-generated-password">Copy</button>
                <div id="generated-password" class="m-2"></div>
            </div>
          </div>
        </div>
        
        
        <form id="search-form">
            <div class="mb-3 w-75 mx-auto">
                <label for="q" class="form-label">Search</label>
                <input type="text" class="form-control" id="q">
            </div>
        </form>
        <div id="passwords" class="accordion w-75 mx-auto"></div>
        <div class="modal" id="modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <input class="form-control" type="password" id="master-password-input">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="encrypt-decrypt-button" data-bs-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
<div class="modal" id="edit-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="edit-email form-control mb-2">
        <input type="text" class="edit-username form-control mb-2">
        <input type="password" class="edit-password form-control mb-2" placeholder="Enter new password">
        <input type="password" class="edit-master-password form-control mb-2" placeholder="Enter master password">
        <input type="text" class="edit-url form-control mb-2" placeholder"URL">
        <input type="text" class="edit-tags form-control mb-2" placeholder="Tags">
      </div>
      <div class="modal-footer">
        <button type="button" id="edit-modal-save" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
{% block script %}
    <script src="{% static 'frontend/crypto.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/getPasswords.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/displayPasswords.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/getCookie.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/addPassword.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/logout.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/postData.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/patchData.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/decryptAndCopyPassword.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/getMasterPassword.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/searchPasswords.js' %}" type="text/javascript"></script>    
    <script src="{% static 'frontend/verifyMasterPassword.js' %}" type="text/javascript"></script>    
    <script src="{% static 'frontend/modalClose.js' %}" type="text/javascript"></script>    
    <script src="{% static 'frontend/modalAddPassword.js' %}" type="text/javascript"></script>    
    <script src="{% static 'frontend/editPasswordEvent.js' %}" type="text/javascript"></script>    
    <script src="{% static 'frontend/deletePasswordEvent.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/random.js' %}" type="text/javascript"></script>    
    <script> 
        getPasswords()
        .then(results => displayPasswords(results));

        function HtmlEncode(s) {
          // function to espace HTML special characters
          let el = document.createElement("div");
          el.innerText = el.textContent = s;
          s = el.innerHTML;
          return s;
      }
        // Generate random password
        document.querySelector("#generate-password").onclick = () => {
            let length = parseInt(document.querySelector("#length").value);
            let generatedPassword = generateRandomPassword(length);
            document.querySelector("#generated-password").innerHTML = HtmlEncode(generatedPassword); //HtmlEncode(generatedPassword);
        }

        // Copy generated random password
        document.querySelector("#copy-generated-password").onclick = () => navigator.clipboard.writeText(document.querySelector("#generated-password").innerText.trim());
    </script>

{% endblock script %}