{% extends 'frontend/layout.html' %}

{% load static %}
{% block title %}Passwords{% endblock title %}
{% block body %}

        <h1 class="mx-auto w-75" id="username-notes">Passwords</h1>
        <form id="add-password-form" class="m-4 mx-auto w-75" method="post" action="http://127.0.0.1:8000/api/passwords">
            <input class="form-control mb-2" autofocus style="width: 18rem;" type="text" id="email" name="email" placeholder="Email">
            <input class="form-control mb-2" autofocus style="width: 18rem;" type="text" id="username" name="username" placeholder="Username">
            <input class="form-control mb-2" autofocus style="width: 18rem;" type="password" id="password" name="password" placeholder="Password">
            <input class="form-control mb-2" autofocus style="width: 18rem;" type="text" id="url" name="url" placeholder="URL">
            <button class="btn btn-primary" id="add-button">Add</button>
        </form>
        <form id="search-form">
            <div class="mb-3 w-75 mx-auto">
                <label for="q" class="form-label">Search</label>
                <input type="text" class="form-control" id="q">
            </div>
        </form>
        <div id="passwords" class="accordion w-75 mx-auto"></div>
        <div class="modal" id="modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <input class="form-control" type="password" id="master-password-input">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="encrypt-decrypt-button" data-bs-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
{% endblock body %}
{% block script %}

    <script> 
        getPasswords()
        .then(results => displayPasswords(results));
    </script>

{% endblock script %}