{% extends 'frontend/layout.html' %}
{% load static %}
{% block title %}Settings{% endblock title %}
{% block body %}
    <h1 class="w-75 mx-auto">Settings</h1>
    <form id="change-mpw-form" class="w-75 mx-auto">
        <input type="text" name="new-username" id="new-username" class="form-control mb-2" placeholder="New username">
        <input type="password" name="old-mpw" id="old-mpw" class="form-control mb-2" placeholder="Master Password">
        <input type="password" name="new-mpw" id="new-mpw" class="form-control mb-2" placeholder="New Master Password">
        <input type="password" name="confirm-new-mpw" id="confirm-new-mpw" class="form-control mb-2" placeholder="Re-enter Master Password">
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
    {% endblock body %}
{% block script %}

<script src="{% static 'frontend/getPasswords.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="{% static 'frontend/crypto.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/patchData.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/getCookie.js' %}" type="text/javascript"></script>
    <script src="{% static 'frontend/verifyMasterPassword.js' %}" type="text/javascript"></script>    
    <script src="{% static 'frontend/postData.js' %}" type="text/javascript"></script>
    <script>
        document.querySelector("#change-mpw-form").onsubmit = () => {
            let newMPW = document.querySelector("#new-mpw").value;
            let mpw = document.querySelector("#old-mpw").value;
            let username = document.querySelector("#new-username").value;
            verifyMasterPassword(mpw)
            .then(result => {
                if(result == false) {
                    alert("Wrong master password.")
                    return false;
                }
                let data = {};
                if(username !== '')
                    data.username = username;
                if(newMPW !== '')
                    data.password = newMPW;
                console.log(newMPW);
                // update user data
                patchData('http://127.0.0.1:8000/api/update-user-data', data=data)
                .then(response  => {
                    // couldn't update user data
                    if(!response.ok) {
                        response.json().then(result => alert(JSON.stringify(result)))
                        return false;
                    }
                    // could update user data with new username, but no new master password was given
                    // so don't need to re-encrypt all passwords
                    if(newMPW == "") {
                        console.log("no new mpw");
                        return false;
                    }
                    // update username and master password
                    // re-encrypt all passwords and send the vault to the server
                    getPasswords()
                    .then(passwords => {
                        console.log(passwords);
                        passwords.forEach(password => {
                            // reencrypt passwords
                            let plaintext = decrypt(password.encrypted_password, mpw)
                            let newEncryptedPassword = encrypt(plaintext, newMPW);
                            password.encrypted_password = newEncryptedPassword;
                        })
                        // send encrypted passwords
                        patchData('http://127.0.0.1:8000/api/passwords', data={passwords: passwords})
                        .then(response => response.json())
                        .then(result => {
                            alert("User data updated successfully.");
                        })

                    });
                })
                
            })
            return false;
        }
    </script>
{% endblock script %}
